<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <div style="horiz-align: center;width: 100%;" align="center">
    <form action="/slogin/" method="post">
        <table>
            <tr align="center">
                <td colspan="2"><h2>用户登录</h2></td>
            </tr>
            <tr>
                <td>用户名：</td>
                <td><input type="text" name="userName" /> </td>
            </tr>
             <tr>
                <td>密码：</td>
                 <td><input type="password" name="userPwd" /></td>
            </tr>
             <tr>
                <td>记住账号：</td>
                 <td><input type="checkbox" name="remeberme" /></td>
            </tr>
            <tr>
                <td></td>
                 <td>
                    <input type="reset" value="取消" /><input type="submit" value="登录" />
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>